* {
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #edeff2;
    font-family: 'Open Sans', sans-serif;
    color: #6a859c;
    font-size: 16px;
    line-height: 20px;
    min-height: 100%;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}


.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigationBar {
    background-color: #ffff;
}

.brandLink {
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

.navLink {
    text-decoration: none;
    padding: 20px;
    display: inline-flex;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: #676770;
}

.navLink:hover {
    color: #69b9ff;
}

.logo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #69b9ff;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.signupSection {
    background-image: linear-gradient(180deg, rgba(46, 157, 255, 0.5), rgba(46, 157, 255, 0.22)), url(https://assets.website-files.com/5e4b18feebfd1a721bb930e6/5e4b18feebfd1a6617b93138_photo-1416359658663-73a3834895eb.jpg);
    background-position: 0% 0%, 50% 50%;
    background-size: auto, cover;
    padding-top: 195px;
    padding-bottom: 195px;
    border-bottom: 4px solid #69b9ff;
    text-align: center;
}

.heading {
    margin-bottom: 30px;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.slogan {
    margin-bottom: 40px;
    color: #2e9dff;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.button {
    padding: 12px 30px;
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 4px;
    background-color: #69b9ff;
    transition: background-color 300ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover {
    background-color: #2e9dff;

}

.hollow-button {
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 4px;
    transition: background-color 300ms ease;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #fff;
}

.hollow-button:hover {
    color: #2e9dff;
    border: 1px solid #2e9dff;
}

.featureSection {
    text-align: center;
    background-color: #fff;
    padding: 80px 10px;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 25px;
    font-weight: 300;
    color: #676770;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 16px;
}

.titleSubhead {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    color: #8e8e9c;


}

.featureBox {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;

}

.whiteBox {

    padding: 15px;
    border: 1px solid #dcebf7;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.icon {
    display: block;
    width: 35%;
    background-color: #69b9ff;

    border-radius: 50%;
    padding: 20px;
    border: 10px solid #fff;
    outline: 1px solid #2e9dff;
    margin: 10px auto;
}

.whiteBox h3 {
    font-size: 18px;
    letter-spacing: 7px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #676770;
}

.whiteBox p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    text-align-last: center;
}

.featureServices {

    background-color: #192024;
    text-align: center;
    padding: 80px 10px;
}

.featureServices .toWhite {
    margin-bottom: 20px;
    color: #fff;
}

.featureServices .toBlack {
    background-color: transparent;
    border: none;
}

.featureServices img {
    width: 100%;
    margin-bottom: 20px;
}

.tabSection {
    padding: 80px 10px;
    text-align: center;
    background-color: #fff;
}

.tabMenu {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    display: flex;

    justify-content: center;
}

.button.tabB {
    display: inline-flex;
    color: #fff;
    background-color: #8e8e9c;
}

.button.tabB:hover {
    background-color: #2e80b6
}

#tabOne,
#tabTwo,
#tabThree {
    display: none;
}

#tabTwo:target,
#tabThree:target,
#tabOne:target {
    display: block;
}

.tabBox {
    display: flex;
    justify-content: center;
}

.tabBox img {
    width: 100%;
    margin-bottom: 20px;
}

.tabBox h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #676770;
    font-size: 32px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
}

.tabBox p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}

.footer {
    background-color: #EDEFF2;
}



.f-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 35px;

}

.about {
    align-items: center;
}

.footer {
    margin-bottom: 2rem;
}

.footer h5 {
    font-weight: 300;
    font-size: 18px;
    color: #676770;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 20px;
}

.footer p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;

}

.f-size {
    width: 33.33%;
}

.footerLink {

    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    text-decoration: none;

}

.footerLink:hover {
    color: #668cad;
}


.links ul {
    margin-top: 10px;
    list-style: none;
    padding: 0;

}

.links li {
    margin-bottom: 6px;
    border-bottom: 1px solid #d5d5e0;
    padding-bottom: 8px;
}

.links a {
    text-decoration: none;
}

.footerLinkWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 6px;


}

.footerLinkWrapper img {
    width: 20px;



}

.footerLinkWrapper a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #d5d5e0;
    width: 100%;

}

.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #383838;
    color: #676770;
    text-align: center;
}